@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Paytone+One&family=Squada+One&display=swap');

@layer base {
  body {
    margin: 0;
    font-family: 'Squada One','Noto Sans TC',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}

@layer components {

  /*自組元件*/
  .my-container {
    @apply xl:container xl:mx-auto p-4;
  }

  .my-button {
    @apply py-1 px-11 text-lg ring-1 ring-transparent relative
    bg-white
    hover:text-white hover:bg-primary ring-black;
  }

  .my-button-nb {
    @apply py-1 px-11 text-lg ring-1 ring-transparent relative
    hover:text-white hover:bg-primary;
  }


  .my-title {
    @apply text-wine-600 font-bold text-center text-[24px] md: text-[48px] lg:text-5xl
  } 

}

@layer utilities {
  /*自組樣式*/

  .fs-num{
    font-family: 'Paytone One' , serif;
  }

  .fs-noto{
    font-family: 'Noto Sans TC',serif;
  }
}


